NODE_ENV=development
LOG_LEVEL=debug

ASSETS_DB_HOST=db
ASSETS_DB_PORT=5432
ASSETS_DB_PORT_HOST=5434
ASSETS_DB_NAME=qltb_assets
ASSETS_DB_USER=qltb
ASSETS_DB_PASS=qltb
ASSETS_DATABASE_URL=postgres://qltb:qltb@db:5432/qltb_assets
ASSETS_DB_SEED=true
ASSETS_DB_WAIT_TIMEOUT=60

PORT_API=3100
PORT_WEB=3103
BACKEND_BASE_URL=http://qltb_assets_api:3000

PGADMIN_PORT=5054
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
